@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for dark mode */
.dark ::-webkit-scrollbar {
  width: 6px;
}
.dark ::-webkit-scrollbar-track {
  background: #1e293b;
}
.dark ::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 3px;
}
